!*
!*/

#########
#Exclude
#########
Debug/
Release/
RemoteSystemsTempFiles/
webtalk/
.metadata/
.sdk/
RemoteSystemsTempFiles/
webtalk/
SDK.log

#########
#Include
#########
!*.c
!*.cpp
!*.h
!*.hpp
!*.project
!*.cproject
